<div>
  <h1>Productos y servicios</h1>
  <ul>
    {{#each productos}}
      <li>
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <img src="{{this.image}}" alt="{{this.name}}">
      </li>
    {{/each}}
  </ul>

  {{#if pagination}}
    <ul class="pagination">
      <li><a href="?page={{pagination.prevPage}}">Anterior</a></li>
      {{#each pagination.pages}}
        <li><a href="?page={{this}}"> {{this}} </a></li>
      {{/each}}
      <li><a href="?page={{pagination.nextPage}}">Siguiente</a></li>
    </ul>
  {{/if}}
</div>
<hr>
<a href="/"><button>Salir</button></a>
<a href="/current"><button>Ir a mi session</button></a>

